.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    transition: filter 0.2s ease-in-out;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #1ECD9E;
    width: 100%;
    color: white;
    text-transform: uppercase;
    padding: 1.1rem 3px;
    &:hover {
        filter: brightness(0.9);
    }
    >span {
        font: 500 1.6rem 'Roboto', sans-serif;
    }
}